<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Edible Plant Directory</h1>
          <h2>Enter a plant name, zip code, or city</h2>

          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="search for plant" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Or select by plant type</h2>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/171x180">
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
