<!doctype html>
<html>
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Edible Plant Directory</h1>

            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true" id="basic-addon1"></span>
              <input type="text" class="form-control" placeholder="search for plant" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Search results</h2>
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
          <div class="panel panel-default" style="margin-top: 20px">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2">
                  <img src="http://placehold.it/140x140" class="img-rounded">
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10">
                  <h3>Plant</h3>
                  <ul> 
                    <li>Florem ipsum loose strife, bellflower acacia, wormwood love lies bleeding hop.</li> 
                    <li>Canterbury bells daisy cuban lily marigold cloudberry snow on the mountain foxglove.</li>
                    <li>Prince of Wales feather scabious dorset heath carnation blossom honeysuckle. </li>
                    <li>Florist’s nighmare.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2">
                  <img src="http://placehold.it/140x140" class="img-rounded">
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10">
                  <h3>Plant</h3>
                  <ul>
                    <li>Houndstongue arum transvaal daisy rosemary flame lily.</li>
                    <li>Ox-eye daisy lily of the valley poppy cuban lily.</li>
                    <li>Round-leaved sundew lily violet holy grass dandelion heather.</li>
                    <li>Waxflower, bergamot ulster mary buttercup golden rod.</li>
                    <li>Guernsey lily scarlet plume plumed thistle.</li>
                    <li>Tasmanian blue gum lisianthus blue throatwort amazon lily radnor lily, daisy bloom.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2">
                  <img src="http://placehold.it/140x140" class="img-rounded">
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10">
                  <h3>Plant</h3>
                  <ul> 
                    <li>Oxlip snowdrop cockscomb bee orchid bloody crane's-bill.</li>
                    <li>Corsage orchid bee balm rose cuban lily summer snowflake marguerite.</li>
                    <li>Dog rose, bilberry, yarrow tazetta mistletoe foxtail lily.</li>
                    <li>Spring gentian larkspur lady’s slipper orchid, queen Fabiola lily snake head carnation. </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
